examples/public/wsdl/ping.wsdl

<wsdl:definitions xmlns="https://soap.local"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Ping"
				  targetNamespace="https://soap.local">

	<wsdl:types>
		<xs:schema targetNamespace="https://soap.local">
			<xs:complexType name="PingRequestType">
				<xs:sequence>
					<xs:element name="valor" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PingResponseType">
				<xs:sequence>
					<xs:element name="valor" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="pingRequest">
		<wsdl:part name="request" type="PingRequestType" />
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="return" type="PingResponseType" />
	</wsdl:message>

	<wsdl:portType name="Ping">
		<wsdl:operation name="ping">
			<wsdl:input message="pingRequest" />
			<wsdl:output message="pingResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PingPortBinding" type="Ping">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ping">
			<soap:operation soapAction="https://soap.local#ping" />
			<wsdl:input>
				<soap:body namespace="https://soap.local" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="https://soap.local" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Ping">
		<wsdl:port binding="PingPortBinding" name="PingPort">
			<soap:address location="https://localhost/soap-server.php/ping" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
